[defaults]
inventory = ansible/inventories/example/hosts.yml
roles_path = ansible/roles
collections_path = ansible/.ansible/collections
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
forks = 10

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
