.lastUpdated {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  user-select: none;
  color: rgb(124, 121, 128);
}

.updaterAvatar {
  border-radius: 999px;
  display: block;
  height: 24px;
  object-fit: cover;
  width: 24px;
}
